@import '../../.cache/wal/colors-waybar.css';

* {
	border: none;
	border-radius: 50px;
	font-family: "Josefin Sans, Fira Code Nerd Font Mono";
	font-size: 20px;
	min-height: 0px;
}

tooltip {
	background-color: @background;
	border: none;
	border-radius: 10px;
	box-shadow: black 0px 2px 5px -2px;
}

tooltip label {
	font-family: "Kulim Park";
	font-weight: bold;
	color: @foreground;
}

window#waybar {
	background: none;
}

#workspaces {
	margin: 15px 50px;
	background: none;
}

#workspaces button {
	margin: 0px;
	padding: 0px 10px;
	background: none;
	color: @color2;
	transition: padding 0.2s ease-out;
}

#workspaces button.empty {
	color: @foreground;
}

#workspaces button.active {
	background-color: @color1;
	color: @background;
	padding: 0px 20px;
	transition: padding 0.1s ease-out;
}

#clock {
	margin: 0px 200px 0px 160px;
	color: @foreground;
	font-weight: bold;
}

#battery {
	font-family: "Fira Code Nerd Font Mono";
	color: @background;
	padding: 0px 80px;
	background: @color2;
	background: linear-gradient(90deg,@color2 0%, @color2 50%, @background 50%);
	margin: 15px 0px;
	transition: color 0.2s linear, background 0.3s cubic-bezier(.17,.67,.3,1.35);
}

#battery.low {
	background: linear-gradient(90deg,@color2 0%, @color2 20%, @background 20%);
	color: @color2;
}

#battery.medlow {
	background: linear-gradient(90deg,@color2 0%, @color2 40%, @background 40%);
	color: @color2;
}

#battery.med {
	background: linear-gradient(90deg,@color2 0%, @color2 60%, @background 60%);
}

#battery.medhigh {
	background: linear-gradient(90deg,@color2 0%, @color2 80%, @background 80%);
}

#battery.high {
	background: linear-gradient(90deg,@color2 0%, @color2 100%, @background 100%);
}

@keyframes lowBlink {
	25% {
		background: linear-gradient(90deg,@color2 0%, @color1 20%, @background 20%);
	}	
	50% {
		background: linear-gradient(90deg,@color1 0%, @color1 20%, @background 20%);
	}
	75% {
		background: linear-gradient(90deg,@color1 0%, @color2 20%, @background 20%);
	}
	to {
		background: linear-gradient(90deg,@color2 0%, @color2 20%, @background 20%);
	}
}

#battery.low:not(.charging) {
	animation: lowBlink 2s ease-in-out infinite;
}

#holder {
	margin: 0px 50px;
}

#status {
	color: @color1;
	margin: 15px 25px;
}

#center {
	background-color: alpha(@background, 0.8);
	border-radius: 0px 0px 10px 10px;
}

#leftexpand {
	background-color: alpha(@background, 0.8);
	border-radius: 0px 0px 10px 0px;
}

#rightexpand {
	background-color: alpha(@background, 0.8);
	border-radius: 0px 0px 0px 10px;
}

#network {
	margin: 0px 25px;
}

#power {
	margin: 0px;
	padding: 0px 20px 0px 0px;
	color: @color1;
}

#custom-rightexpander, #custom-leftexpander {
	color: @foreground;
	padding: 0px 30px;
}

#custom-shutdown, #custom-restart, #custom-lock, #custom-logout {
	color: @color2;
	margin: 0px 10px;
	font-size: 25px;
}

#custom-term, #custom-apps {
	margin: 15px 20px 15px 0px;
	padding: 0px 20px;
	color: @background;
	background-color: @color1;
}

#audio {
	margin: 15px 0px 15px 20px;
	padding: 0px 10px;
	background: @color2;
}

#brightness {
	margin: 15px 0px 15px 20px;
	padding: 0px 10px;
	background: @color2;
}

#pulseaudio, #backlight {
	color: @background;
	padding: 0px 10px;
}

#pulseaudio-slider, #backlight-slider {
	padding: 0px 10px;
}

#pulseaudio-slider slider, #backlight-slider slider {
	min-height: 10px;
	min-width: 10px;
	background-color: @foreground;
}

#pulseaudio-slider trough, #backlight-slider trough {
	min-height: 10px;
	min-width: 80px;
	background: @background;
}

#pulseaudio-slider highlight, #backlight-slider highlight {
	min-width: 10px;
	background: @color2;
}
