@import '../../.cache/wal/colors-waybar.css';

* {
	border: none;
	border-radius: 50px;
	font-family: "Josefin Sans, Fira Code Nerd Font Mono";
	font-size: 20px;
	min-height: 0px;
}

tooltip {
	background: alpha(@foreground, 0.8);
	border: 2px solid @background;
}

tooltip label {
	color: @background;
}

window#waybar {
	border-radius: 0px 0px 10px 10px;
	background-color: alpha(@background, 0.8);
}

#workspaces {
	margin: 15px 0px;
	padding: 0px 50px;
	background: none;
}

#workspaces button {
	margin: 0px;
	padding: 0px 10px;
	background: none;
	color: @color2;
	transition: padding 0.2s ease-out;
}

#workspaces button.empty {
	color: @foreground;
}

#workspaces button.active {
	background-color: @color1;
	color: @background;
	padding: 0px 20px;
	transition: padding 0.1s ease-out;
}

#clock {
	color: @foreground;
	font-weight: bold;
}

#battery {
	color: @background;
	padding: 0px 80px;
	background: @color2;
	background: linear-gradient(90deg,@color2 0%, @color2 50%, @background 50%);
	margin: 15px 50px 15px 0px;
	transition: color 0.2s linear, background 0.3s cubic-bezier(.17,.67,.3,1.35);
}

#battery.low {
	background: linear-gradient(90deg,@color2 0%, @color2 20%, @background 20%);
	color: @color2;
}

#battery.medlow {
	background: linear-gradient(90deg,@color2 0%, @color2 40%, @background 40%);
	color: @color2;
}

#battery.med {
	background: linear-gradient(90deg,@color2 0%, @color2 60%, @background 60%);
}

#battery.medhigh {
	background: linear-gradient(90deg,@color2 0%, @color2 80%, @background 80%);
}

#battery.high {
	background: linear-gradient(90deg,@color2 0%, @color2 100%, @background 100%);
}

@keyframes lowBlink {
	25% {
		background: linear-gradient(90deg,@color2 0%, @color1 20%, @background 20%);
	}	
	50% {
		background: linear-gradient(90deg,@color1 0%, @color1 20%, @background 20%);
	}
	75% {
		background: linear-gradient(90deg,@color1 0%, @color2 20%, @background 20%);
	}
	to {
		background: linear-gradient(90deg,@color1 0%, @color2 20%, @background 20%);
	}
}

#battery.low:not(.charging) {
	animation: lowBlink 2s ease-in-out infinite;
}

#status {
	color: @color1;
	margin: 15px 25px;
}

#network {
	margin: 0px 25px;
}
