"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

format = """
[❮ ](yellow)$username$shell
$character$directory
"""

right_format = """$all$battery"""

[character]
success_symbol = '[❯](bold green)'
error_symbol = '[❯](bold red)'

[aws]
symbol = "  "

[battery]
full_symbol = "󰁹"
charging_symbol = "󰂄"
discharging_symbol = "󰂃"
empty_symbol = "󰂎"
format = "[ $symbol $percentage ](cyan)"

[[battery.display]]
threshold = 100

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[directory]
style = "fg:bold green"
format = '[\[ $path[$read_only]($read_only_style) \] ]($style)'
truncation_length = 2
truncation_symbol = '.../'
read_only = " 󰌾"
home_symbol = ""

[directory.substitutions]
'/Documents' = '󰈙 Documents'
'/Downloads' = ' Downloads'
'/Pictures' = ' Pictures'
'/Videos' = ' Videos'

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = "  "

[git_branch]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[shell]
format = "on [$indicator]($style)"
disabled = false
style = "red bold"

[swift]
symbol = " "

[time]
disabled = false
format = '[\[[ $time ]($style)\]](bold blue)'
time_format = "%R %p"
style = "yellow"
use_12hr = true

[username]
show_always = true
format = "[$user]($style) "

[zig]
symbol = " "

[gradle]
symbol = " "
